/**========================================================================
 *                          TOPNAV 
 *========================================================================**/
.about {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: $color-off-white;

  &-mainHeader {
    width: 100%;
    text-align: center;
    font-size: 5rem;
    font-weight: 300;
    text-transform: uppercase;
    margin: 2rem 0;
  }

  &-subHeader {
    width: 100%;
    text-align: center;
    font-size: 4rem;
    font-weight: 300;
    text-transform: uppercase;
    padding: 2rem 0;
    background-color: $color-off-white;
  }

  &-miniHeader {
    width: 100%;
    text-align: center;
    font-size: 3rem;
    font-weight: 300;
    text-transform: uppercase;
    margin: 2rem 0;
  }

  &-text {
    width: 50%;
    @include respond(break-850) {
      width: 90%;
    }
  }
}
.pictures {
  display: flex;
  width: 100%;
  justify-content: space-around;
  @include respond(break-850) {
    flex-direction: column;
    align-items: center;
  }
}

.picture-one {
  height: 50rem;

  & > img {
    border: 1px solid $color-gray;
    border-radius: 3px;
    height: inherit;
  }
  @include respond(break-850) {
    height: 25rem;
    margin-bottom: 1rem;
  }
}
.picture-two {
  height: 50rem;

  & > img {
    border: 1px solid $color-gray;
    border-radius: 3px;
    height: inherit;
  }
  @include respond(break-850) {
    height: 25rem;
  }
}

.about-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2rem;
  background-color: $color-off-white;

  & > div:not(:first-child) {
    margin-top: 2rem;
  }
}

.about-contact {
  margin: 2rem 0;
  display: flex;
  justify-content: space-around;
  border-top: 1px solid $color-gray;
  border-bottom: 1px solid $color-gray;
}

.contact-socials {
  height: 5rem;
  display: flex;
  justify-content: center;
}

.icon {
  height: 3rem;
  width: 3rem;
  margin: 0 1rem;

  & > img {
    height: inherit;
    width: inherit;
  }
}
