/**========================================================================
 *                          CHAPTER TEMPLATE 
 *========================================================================**/

.chapter-landing {
  position: relative;
  z-index: 1;
  height: 100vh;
  width: 100%;
}

.chapter-content {
  margin: 0rem auto;
  padding-bottom: 4rem;
  width: 40%;
  display: flex;
  flex-direction: column;
  @include respond(break-1000) {
    width: 90%;
  }

  &::after {
    z-index: -1;
    background-image: url(../img/staticNoise.jpg);
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.03;
    width: 100%;
    height: 100%;
  }
}

.chapter-text {
  & > * {
    margin-top: 3rem;
  }
}
.title {
  display: flex;
  flex-direction: column;

  &-chapterNumber {
    @include respond(break-1000) {
      text-align: center;
    }
  }
}

.title-landing {
  position: absolute;
  width: 90%;
  @include respond(break-1000) {
    position: relative;
    margin: 0 auto;
    top: 1rem;
    left: 50%;
    align-items: center;
    width: 90%;
    overflow: hidden;
    left: 0;
  }

  & > *:not(:first-child) {
    margin-top: 1rem;
    @include respond(break-1000) {
      margin-top: 3px;
      margin-left: 0rem;
    }
  }

  & > h1 {
    color: $color-white;
    width: 30%;
    font-size: 5rem;
    @include respond(break-1000) {
      font-size: 3rem;
      width: 95%;
    }
  }
  & > span {
    color: $color-white;
  }
}

.title-content {
  & > h2 {
    font-size: 7rem;
    font-weight: 300;
    text-transform: uppercase;
    color: $color-black;
    text-align: center;
    @include respond(break-greater-1600) {
      font-size: 10rem;
    }
    @include respond(break-1000) {
      font-size: 3.5rem;
      margin-bottom: 2rem;
    }
  }
}

.title-authorName {
  font-size: 1.8rem;
  margin-top: 3rem;
  @include respond(break-1000) {
    margin-top: 0rem;
    font-size: 1.7rem;
  }
}

.title-btn {
  font-size: 1.5rem;
  padding: 1rem 0.5rem;
  width: 10rem;
  border-radius: 15px;
  z-index: 100;
  background-color: transparent;
  border-color: $color-white;
  color: $color-white;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: $color-dark-gray;
  }
}

.text {
  line-height: 2.9rem;
  font-size: 2rem;
}

.chapter-footer {
  height: 10vh;
  border-top: 1px solid $color-gray;
  display: flex;
  align-items: center;
  &--prologue {
    justify-content: center;
  }

  &--standard {
    justify-content: space-evenly;
  }
}

.footer-link {
  font-size: 2rem;
  cursor: pointer;
  color: $color-link;
}
