/**========================================================================
 *                          CHAPTER TEMPLATE 
 *========================================================================**/

h1 {
  font-size: 5rem;
  @include respond(break-1000) {
    font-size: 2rem;
  }
}

h2 {
  font-size: 10rem;
  font-weight: 300;
  text-transform: uppercase;
  @include respond(break-1000) {
    font-size: 5rem;
  }
}

.pageContainer {
  position: relative;
}
.chapter {
  &-landing {
    position: relative;
    z-index: 1;
    height: 100vh;
    width: 100%;
    &--prologue {
      background-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 1) 15%,
          rgba(0, 0, 0, 0) 25% 75%,
          rgba(0, 0, 0, 1) 85%
        ),
        url('../img/prologue.jpg');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      @include respond(break-1000) {
        background-size: cover;
        background-position: 60% 45%;
        background-image: linear-gradient(
            to top,
            rgba(0, 0, 0, 1) 15%,
            rgba(0, 0, 0, 0) 25% 55%
          ),
          url('../img/prologue.jpg');
      }
    }
    &--c1 {
      background-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 1) 0 35%,
          rgba(0, 0, 0, 0) 40% 55%,
          rgba(0, 0, 0, 1) 85%
        ),
        url('../img/chapter1.jpg');
      background-repeat: no-repeat;
      background-position: 50% 45%;
      @include respond(break-greater-1400) {
        background-image: linear-gradient(
            to right,
            rgba(0, 0, 0, 1) 25%,
            rgba(0, 0, 0, 0) 25% 75%,
            rgba(0, 0, 0, 1) 75%
          ),
          url('../img/chapter1.jpg');
      }
      @include respond(break-1000) {
        background-image: linear-gradient(
            to top,
            rgba(0, 0, 0, 1) 15%,
            rgba(0, 0, 0, 0) 25% 55%
          ),
          url('../img/chapter1.jpg');
      }
    }
    &--c2 {
      background-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 1) 0 25%,
          rgba(0, 0, 0, 0) 30%
        ),
        url('../img/chapter2.jpg');
      background-repeat: no-repeat;
      background-position: 50% 45%;
      @include respond(break-greater-1400) {
        background-position: 0% 45%;
        background-image: linear-gradient(
            to right,
            rgba(0, 0, 0, 1) 20%,
            rgba(0, 0, 0, 0) 25% 55%,
            rgba(0, 0, 0, 1) 78%
          ),
          url('../img/chapter2.jpg');
      }
      @include respond(break-1000) {
        background-position: 80% 45%;
        background-size: cover;
        background-image: linear-gradient(
            to top,
            rgba(0, 0, 0, 1) 15%,
            rgba(0, 0, 0, 0) 25% 55%
          ),
          url('../img/chapter2.jpg');
      }
    }
    &--c3 {
      background-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 1) 0 20%,
          rgba(0, 0, 0, 0) 25%
        ),
        url('../img/chapter3.jpg');
      background-repeat: no-repeat;
      background-position: 50% 45%;
      @include respond(break-greater-1400) {
        background-image: linear-gradient(
            to right,
            rgba(0, 0, 0, 1) 25%,
            rgba(0, 0, 0, 0) 30% 80%,
            rgba(0, 0, 0, 1) 85%
          ),
          url('../img/chapter3.jpg');
      }
      @include respond(break-1000) {
        background-image: linear-gradient(
            to top,
            rgba(0, 0, 0, 1) 15%,
            rgba(0, 0, 0, 0) 25% 55%
          ),
          url('../img/chapter3.jpg');
      }
    }
    &--c4 {
      background-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 1) 0 20%,
          rgba(0, 0, 0, 0) 25% 55%,
          rgba(0, 0, 0, 1) 85%
        ),
        url('../img/chapter4.jpg');
      background-repeat: no-repeat;
      background-position: 50% 45%;
      @include respond(break-greater-1400) {
        background-image: linear-gradient(
            to right,
            rgba(0, 0, 0, 1) 35%,
            rgba(0, 0, 0, 0) 45% 65%,
            rgba(0, 0, 0, 1) 75%
          ),
          url('../img/chapter4.jpg');
      }
      @include respond(break-1000) {
        background-image: linear-gradient(
            to top,
            rgba(0, 0, 0, 1) 15%,
            rgba(0, 0, 0, 0) 25% 55%
          ),
          url('../img/chapter4.jpg');
      }
    }
    &--c5 {
      background-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 1) 0 20%,
          rgba(0, 0, 0, 0) 25% 55%,
          rgba(0, 0, 0, 1) 85%
        ),
        url('../img/chapter5.jpg');
      background-repeat: no-repeat;
      background-position: 50% 45%;
      @include respond(break-greater-1400) {
        background-image: linear-gradient(
            to right,
            rgba(0, 0, 0, 1) 25%,
            rgba(0, 0, 0, 0) 30% 70%,
            rgba(0, 0, 0, 1) 75%
          ),
          url('../img/chapter5.jpg');
      }
      @include respond(break-1000) {
        background-image: linear-gradient(
            to top,
            rgba(0, 0, 0, 1) 15%,
            rgba(0, 0, 0, 0) 25% 55%
          ),
          url('../img/chapter5.jpg');
      }
    }
    &--c6 {
      background-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 1) 0 20%,
          rgba(0, 0, 0, 0) 25%
        ),
        url('../img/chapter3-2.jpg');
      background-repeat: no-repeat;
      background-position: 50% 45%;
      @include respond(break-greater-1400) {
        background-position: 0% 45%;
        background-image: linear-gradient(
            to right,
            rgba(0, 0, 0, 1) 20%,
            rgba(0, 0, 0, 0) 25% 65%,
            rgba(0, 0, 0, 1) 78%
          ),
          url('../img/chapter3-2.jpg');
      }
      @include respond(break-1000) {
        background-position: 75% 45%;
        background-image: linear-gradient(
            to top,
            rgba(0, 0, 0, 1) 15%,
            rgba(0, 0, 0, 0) 25% 55%
          ),
          url('../img/chapter3-2.jpg');
      }
    }
  }

  &-content {
    margin: 3rem auto;
    width: 40%;
    display: flex;
    flex-direction: column;
    @include respond(break-1000) {
      width: 90%;
    }

    &::after {
      z-index: -1;
      background-image: url(../img/staticNoise.jpg);
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0.03;
      width: 100%;
      height: 100%;
    }
  }

  &-text {
    & > * {
      margin-top: 3rem;
    }
  }
}

.title {
  display: flex;
  flex-direction: column;

  &-landing {
    position: absolute;
    color: $color-white;
    @include respond(break-1000) {
      flex-direction: row;
      align-items: center;
    }
    &--prologue {
      bottom: 40%;
      left: 6rem;
      @include respond(break-1000) {
        bottom: 3rem;
      }
    }
    &--c1 {
      bottom: 40%;
      left: 3rem;
      @include respond(break-1000) {
        bottom: 3rem;
      }
    }
    &--c2 {
      bottom: 40%;
      left: 3rem;
      @include respond(break-1000) {
        bottom: 3rem;
      }
    }
    &--c3 {
      bottom: 40%;
      left: 3rem;
      @include respond(break-1000) {
        bottom: 3rem;
      }
    }
    &--c4 {
      bottom: 40%;
      left: 3rem;
      @include respond(break-1000) {
        bottom: 3rem;
      }
    }
    &--c5 {
      bottom: 40%;
      left: 3rem;
      @include respond(break-1000) {
        bottom: 3rem;
      }
    }
    &--c6 {
      bottom: 40%;
      left: 3rem;
      @include respond(break-1000) {
        bottom: 3rem;
      }
    }
    & > *:not(:first-child) {
      margin-top: 1rem;
      @include respond(break-1000) {
        margin-top: 0;
        margin-left: 1rem;
      }
    }
  }
  &-content {
    color: $color-black;
  }
  &-chapterNumber {
  }
  &-chapterTitle {
    text-align: center;
    &--c5 {
      @include respond(break-greater-1400) {
        width: 80%;
      }
    }
    &--c6 {
      @include respond(break-greater-1400) {
        width: 50%;
      }
    }
  }
  &-authorName {
    font-size: 1.8rem;
    margin-top: 3rem;
  }
  &-btn {
    font-size: 1.5rem;
    padding: 1rem 0.5rem;
    width: 10rem;
    border-radius: 15px;
    z-index: 100;
    background-color: transparent;
    border-color: $color-white;
    color: $color-white;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: $color-dark-gray;
    }
    @include respond(break-1000) {
    }
  }
}

.text {
  line-height: 2.9rem;
  font-size: 2rem;
}

.footer {
  position: relative;
  height: 10vh;
  @include center_flex_row;
  margin-top: 4rem;
  border-top: solid 1px $color-dark-gray;
  font-size: 1.8rem;
  &-logo {
    position: absolute;
    left: 1rem;
  }

  &-contact {
  }
}
