/**========================================================================
 *                           TABLE OF CONTENTS 
 *========================================================================**/

.mainLink {
  color: $color-black;
  background-color: $color-white-opaque;
  font-size: 2rem;
  padding: 1.5rem 1rem;
  margin: 1rem;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.5s;
  &:hover {
    background-color: $color-green-opaque;
  }
}
.pieceLink {
  position: relative;
  font-size: 2rem;
  opacity: 0;
  color: $color-black;
  background-color: $color-white-opaque;
  transition: background-color 0.3s;

  &:hover {
    background-color: $color-red-opaque;
  }

  &-chapter {
    padding: 1.5rem 1rem;
    border-radius: 5px;
    text-align: center;
    transition: opacity 0.5s;
  }

  &-fiction {
    position: absolute;
    padding: 3rem 1rem;
    width: 15rem;
    border-radius: 5px;
    text-align: center;
  }
  &-LF {
    padding: 1rem 0.5rem;
    font-size: 1.8rem;
    width: 25rem;
    border-radius: 25px;
    text-align: center;
    transition: opacity 0.5s;
    margin: 1rem;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &-SF {
    padding: 1.5rem 1rem;
    border-radius: 5px;
    text-align: center;
    transition: opacity 0.5s;
    opacity: 1;
  }

  &-afterLine {
    opacity: 0;
    height: 5rem;
    width: 4px;
    position: relative;
    background-color: $color-white;
    align-self: center;
    transition: opacity 1s;
    &--movingBlock {
      position: absolute;
      border-radius: 2px;
      top: 0;
      width: 4px;
      height: 4px;
      background-color: $color-red;
      animation: chapterLine 2s infinite linear;
    }
  }
}

.header-LF {
  width: 100%;
  text-align: center;
  font-size: 4rem;
  color: $color-deep-red;
}

#sf1 {
  position: absolute;
  top: 80%;
  left: 45%;
}
#sf2 {
  position: absolute;
  top: 35%;
  left: 70%;
  width: 15rem;
}
#sf3 {
  position: absolute;
  top: 70%;
  left: 25%;
}
#sf4 {
  position: absolute;
  top: 5%;
  left: 25%;
}
.sf4-line {
  position: absolute;
  background-color: $color-white-opaque;
  height: 4px;
  width: 12%;
  transform: rotateZ(10deg);
  top: 10%;
  left: 37%;
  @include respond(break-greater-1600) {
    top: 10%;
    left: 36%;
  }

  &--movingBlock {
    position: absolute;
    border-radius: 2px;
    top: 0;
    width: 4px;
    height: 4px;
    background-color: $color-red;
    animation: SFLine 2s infinite linear;
  }
}
#sf5 {
  position: absolute;
  top: 10%;
  left: 50%;
}
#sf6 {
  position: absolute;
  top: 60%;
  left: 45%;
}
#sf7 {
  position: absolute;
  top: 90%;
  left: 45%;
}
#sf8 {
  position: absolute;
  top: 70%;
  left: 45%;
}
#sf9 {
  position: absolute;
  top: 60%;
  left: 85%;
}
#sf10 {
  position: absolute;
  top: 40%;
  left: 30%;
}
#sf11 {
  position: absolute;
  top: 75%;
  left: 70%;
}
#sf12 {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
}

#sf13 {
  position: absolute;
  top: 55%;
  left: 20%;
}
#sf14 {
  position: absolute;
  top: 15%;
  left: 70%;
}
#sf15 {
  position: absolute;
  top: 5%;
  left: 90%;
  padding: 1rem 2rem;
}
#sf16 {
  position: absolute;
  top: 15%;
  left: 90%;
  padding: 1rem 2rem;
}
#sf17 {
  position: absolute;
  top: 25%;
  left: 90%;
  padding: 1rem 2rem;
}
#sf18 {
  position: absolute;
  top: 35%;
  left: 90%;
  padding: 1rem 2rem;
}
#sf19 {
  position: absolute;
  top: 45%;
  left: 90%;
  padding: 1rem 2rem;
}
