/**========================================================================
 *                           MODALS 
 *========================================================================**/

.modal {
  position: absolute;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  min-height: 95%;
  max-height: min-content;
  border-radius: 10px;
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  background-color: $color-white-opaque-4;
  transition: opacity 0.3s;
}

.modal-header {
  margin-top: 1rem;
  font-size: 5rem;
  width: 100%;
  text-align: center;
}

.modal-close {
  height: 3rem;
  width: 3rem;
  position: absolute;
  top: 10rem;
  right: 10rem;
  background-color: red;
  cursor: pointer;
  @include respond(break-850) {
    top: 15rem;
    right: 3rem;
  }
}

.modal-img {
  height: inherit;
}

.modal-imgContainer {
  height: 50rem;
  margin: 1rem 0;
  @include respond(break-850) {
    height: 25rem;
  }
}

.modal-text {
  font-size: 1.8rem;
}

.modal-textContainer {
  width: 50%;
  margin: 1rem 0;
  height: 20rem;
  overflow-y: scroll;
  @include respond(break-850) {
    width: 90%;
    height: 25rem;
  }
}
.modal-textContainer > .modal-text:not(:first-child) {
  margin-top: 1rem;
}

#partOne .modal-textContainer {
  height: 90%;
  overflow: hidden;
  @include respond(break-850) {
    overflow: scroll;
  }
}
#partTwo .modal-textContainer {
  height: 90%;
  overflow: hidden;
  @include respond(break-850) {
    overflow: scroll;
  }
}
#partThree .modal-textContainer {
  height: 90%;
  overflow: hidden;
  @include respond(break-850) {
    overflow: scroll;
  }
}
#partFour .modal-textContainer {
  height: 90%;
  overflow: hidden;
  @include respond(break-850) {
    overflow: scroll;
  }
}
#partFive .modal-textContainer {
  height: 90%;
  overflow: hidden;
  @include respond(break-850) {
    overflow: scroll;
  }
}

#demolitionDerby .modal-textContainer {
  height: 90%;
  overflow: hidden;
  @include respond(break-850) {
    overflow: scroll;
  }
}
