/**======================================================================== *                           TABLE OF CONTENTS 
 *========================================================================**/

#toc-SFDisplay {
  @include respond(break-1400) {
    position: absolute;
    top: 2rem;
    width: 90%;
    & > * {
      margin-top: 1rem;
      width: 50%;
    }
  }
}
#sf1 {
  position: absolute;
  top: 80%;
  left: 35%;
  @include respond(break-1400) {
    position: relative;
    top: auto;
    left: auto;
  }
}
.sf1-line {
  position: absolute;
  background-color: $color-white-opaque;
  height: 4px;
  width: 17%;
  transform: rotateZ(53deg);
  top: 72%;
  left: 21%;
  @include respond(break-greater-1600) {
    transform: rotateZ(50deg);
    width: 20%;
    top: 71%;
    left: 18%;
  }
  @include respond(break-1400) {
    display: none;
  }
  &--movingBlock {
    position: absolute;
    border-radius: 2px;
    top: 0;
    width: 4px;
    height: 4px;
    background-color: $color-red;
    animation: SFLine 2s infinite linear reverse;
  }
}

#sf2 {
  position: absolute;
  top: 35%;
  left: 70%;
  width: 15rem;
  @include respond(break-1400) {
    position: relative;
    top: auto;
    left: auto;
    width: 50%;
  }
}
#sf3 {
  position: absolute;
  top: 55%;
  left: 5%;
  @include respond(break-1400) {
    position: relative;
    top: auto;
    left: auto;
  }
}
.sf3-line {
  position: absolute;
  background-color: $color-white-opaque;
  height: 4px;
  width: 6%;
  transform: rotateZ(90deg);
  top: 49%;
  left: 5%;
  @include respond(break-greater-1600) {
    width: 7%;
    top: 48%;
    left: 5%;
  }
  @include respond(break-1400) {
    display: none;
  }

  &--movingBlock {
    position: absolute;
    border-radius: 2px;
    top: 0;
    width: 4px;
    height: 4px;
    background-color: $color-red;
    animation: SFLine 2s infinite linear reverse;
  }
}
#sf4 {
  position: absolute;
  top: 5%;
  left: 25%;
  @include respond(break-1400) {
    position: relative;
    top: auto;
    left: auto;
  }
}
.sf4-line {
  position: absolute;
  background-color: $color-white-opaque;
  height: 4px;
  width: 8%;
  transform: rotateZ(10deg);
  top: 10%;
  left: 40%;
  @include respond(break-greater-1600) {
    width: 12%;
    top: 10%;
    left: 36%;
  }
  @include respond(break-1400) {
    display: none;
  }

  &--movingBlock {
    position: absolute;
    border-radius: 2px;
    top: 0;
    width: 4px;
    height: 4px;
    background-color: $color-red;
    animation: SFLine 2s infinite linear;
  }
}
#sf5 {
  position: absolute;
  top: 10%;
  left: 50%;
  @include respond(break-1400) {
    position: relative;
    top: auto;
    left: auto;
  }
}
.sf5-line {
  position: absolute;
  background-color: $color-white-opaque;
  height: 4px;
  width: 5%;
  transform: rotateZ(15deg);
  top: 15%;
  left: 64%;
  @include respond(break-greater-1600) {
    width: 8%;
    top: 14%;
    left: 61%;
  }
  @include respond(break-1400) {
    display: none;
  }

  &--movingBlock {
    position: absolute;
    border-radius: 2px;
    top: 0;
    width: 4px;
    height: 4px;
    background-color: $color-red;
    animation: SFLine 2s infinite linear;
  }
}
#sf6 {
  position: absolute;
  top: 60%;
  left: 35%;
  @include respond(break-1400) {
    position: relative;
    top: auto;
    left: auto;
  }
}
.sf6-line {
  position: absolute;
  background-color: $color-white-opaque;
  height: 4px;
  width: 11%;
  transform: rotateZ(11deg);
  top: 62%;
  left: 24%;
  @include respond(break-greater-1600) {
    transform: rotateZ(12deg);
    width: 14%;
    top: 61%;
    left: 21%;
  }
  @include respond(break-1400) {
    display: none;
  }
  &--movingBlock {
    position: absolute;
    border-radius: 2px;
    top: 0;
    width: 4px;
    height: 4px;
    background-color: $color-red;
    animation: SFLine 2s infinite linear reverse;
  }
}
#sf7 {
  position: absolute;
  top: 90%;
  left: 35%;
  @include respond(break-1400) {
    position: relative;
    top: auto;
    left: auto;
  }
}
.sf7-line {
  position: absolute;
  background-color: $color-white-opaque;
  height: 4px;
  width: 23%;
  transform: rotateZ(63deg);
  top: 78%;
  left: 18%;
  @include respond(break-greater-1600) {
    transform: rotateZ(58deg);
    width: 26%;
    top: 76%;
    left: 15%;
  }
  @include respond(break-1400) {
    display: none;
  }
  &--movingBlock {
    position: absolute;
    border-radius: 2px;
    top: 0;
    width: 4px;
    height: 4px;
    background-color: $color-red;
    animation: SFLine 2s infinite linear reverse;
  }
}
#sf8 {
  position: absolute;
  top: 70%;
  left: 35%;
  @include respond(break-1400) {
    position: relative;
    top: auto;
    left: auto;
  }
}
.sf8-line {
  position: absolute;
  background-color: $color-white-opaque;
  height: 4px;
  width: 13%;
  transform: rotateZ(35deg);
  top: 67%;
  left: 23%;
  @include respond(break-greater-1600) {
    width: 16%;
    top: 66%;
    left: 20%;
  }
  @include respond(break-1400) {
    display: none;
  }
  &--movingBlock {
    position: absolute;
    border-radius: 2px;
    top: 0;
    width: 4px;
    height: 4px;
    background-color: $color-red;
    animation: SFLine 2s infinite linear reverse;
  }
}
#sf9 {
  position: absolute;
  top: 60%;
  left: 85%;
  @include respond(break-1400) {
    position: relative;
    top: auto;
    left: auto;
  }
}
.sf9-line {
  position: absolute;
  background-color: $color-white-opaque;
  height: 4px;
  width: 8%;
  transform: rotateZ(135deg);
  top: 74%;
  left: 80%;
  @include respond(break-greater-1600) {
    width: 10%;
    top: 73%;
    left: 80%;
  }
  @include respond(break-1400) {
    display: none;
  }
  &--movingBlock {
    position: absolute;
    border-radius: 2px;
    top: 0;
    width: 4px;
    height: 4px;
    background-color: $color-red;
    animation: SFLine 2s infinite linear;
  }
}
#sf10 {
  position: absolute;
  top: 35%;
  left: 30%;
  @include respond(break-1400) {
    position: relative;
    top: auto;
    left: auto;
  }
}
#sf11 {
  position: absolute;
  top: 80%;
  left: 70%;
  @include respond(break-1400) {
    position: relative;
    top: auto;
    left: auto;
  }
}
.sf11-line {
  position: absolute;
  background-color: $color-white-opaque;
  height: 4px;
  width: 5%;
  top: 15%;
  left: 64%;
  @include respond(break-1400) {
    display: none;
  }
  &--1 {
    transform: rotateZ(37deg);
    width: 15%;
    top: 74%;
    left: 56%;
  }
  &--2 {
    transform: rotateZ(-25deg);
    width: 11%;
    top: 88%;
    left: 59%;
  }
  &--3 {
    width: 11%;
    top: 83%;
    left: 58%;
  }
  &--4 {
    transform: rotateZ(20deg);
    width: 16%;
    top: 78%;
    left: 54%;
  }
  @include respond(break-greater-1600) {
    &--1 {
      transform: rotateZ(37deg);
      width: 20%;
      top: 73%;
      left: 51%;
    }
    &--2 {
      transform: rotateZ(-25deg);
      width: 16%;
      top: 88%;
      left: 54%;
    }
    &--3 {
      width: 15%;
      top: 83%;
      left: 54%;
    }
    &--4 {
      transform: rotateZ(19deg);
      width: 19%;
      top: 78%;
      left: 51%;
    }
  }
  @include respond(break-1400) {
    &--1 {
      display: none;
    }
    &--2 {
      display: none;
    }
    &--3 {
      display: none;
    }
    &--4 {
      display: none;
    }
  }

  &--movingBlock {
    position: absolute;
    border-radius: 2px;
    top: 0;
    width: 4px;
    height: 4px;
    background-color: $color-red;
    animation: SFLine 2s infinite reverse linear;
  }
}
#sf12 {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  @include respond(break-1400) {
    position: relative;
    top: auto;
    left: auto;
  }
}

#sf13 {
  position: absolute;
  top: 35%;
  left: 5%;
  @include respond(break-1400) {
    position: relative;
    top: auto;
    left: auto;
  }
}
.sf13-line {
  position: absolute;
  background-color: $color-white-opaque;
  height: 4px;
  width: 11%;
  top: 38%;
  left: 17%;
  @include respond(break-greater-1600) {
    width: 13%;
    top: 38%;
    left: 15%;
  }
  @include respond(break-1400) {
    display: none;
  }
  &--movingBlock {
    position: absolute;
    border-radius: 2px;
    top: 0;
    width: 4px;
    height: 4px;
    background-color: $color-red;
    animation: SFLine 2s infinite linear;
  }
}
#sf14 {
  position: absolute;
  top: 15%;
  left: 70%;
  @include respond(break-1400) {
    position: relative;
    top: auto;
    left: auto;
  }
}
.sf14-line {
  &--movingBlock {
    position: absolute;
    border-radius: 2px;
    top: 0;
    width: 4px;
    height: 4px;
    background-color: $color-red;
    animation: SFLine 2s infinite linear;
  }
}
.sf14-line--1 {
  position: absolute;
  background-color: $color-white-opaque;
  height: 4px;
  width: 6%;
  transform: rotateZ(90deg);
  top: 29%;
  left: 73%;
  @include respond(break-greater-1600) {
    width: 5%;
    top: 28%;
    left: 73%;
  }
  @include respond(break-1400) {
    display: none;
  }
}
.sf14-line--2 {
  position: absolute;
  background-color: $color-white-opaque;
  height: 4px;
  width: 5%;
  transform: rotateZ(-40deg);
  top: 11%;
  left: 85%;
  @include respond(break-greater-1600) {
    width: 7%;
    top: 12%;
    left: 83%;
  }
  @include respond(break-1400) {
    display: none;
  }
}
#sf15 {
  position: absolute;
  top: 5%;
  left: 90%;
  padding: 1rem 2rem;
  @include respond(break-1400) {
    position: relative;
    top: auto;
    left: auto;
    padding: 0.5rem;
  }
}

.sf15-line {
  position: relative;
  background-color: $color-white-opaque;
  height: 4px;
  width: 2rem;
  top: 2rem;
  transform: rotateZ(90deg);
  @include respond(break-greater-1600) {
    width: 4rem;
    transform: rotateZ(90deg);
    top: 3rem;
  }
  @include respond(break-1400) {
    display: none;
  }
  &--special {
    position: absolute;
    opacity: 1;
    transform: rotateZ(115deg);
    width: 3rem;
    top: 7rem;
    right: 3rem;

    &2 {
      width: 2rem;
      top: 2rem;
      position: relative;
      opacity: 0;
      @include respond(break-greater-1600) {
        width: 4rem;
      }
    }
    @include respond(break-greater-1600) {
      transform: rotateZ(115deg);
      width: 6rem;
      top: 8.5rem;
      right: 3rem;
    }
  }

  &--movingblock {
    position: absolute;
    border-radius: 2px;
    top: 0;
    width: 4px;
    height: 4px;
    background-color: $color-red;
    animation: SFLine 2s infinite linear;
  }
}
#sf16 {
  position: absolute;
  top: 15%;
  left: 90%;
  padding: 1rem 2rem;
  @include respond(break-1400) {
    position: relative;
    top: auto;
    left: auto;
    padding: 0.5rem;
  }
}
#sf17 {
  position: absolute;
  top: 25%;
  left: 90%;
  padding: 1rem 2rem;
  @include respond(break-1400) {
    position: relative;
    top: auto;
    left: auto;
  }
}
#sf17 {
  position: absolute;
  top: 25%;
  left: 90%;
  padding: 1rem 2rem;
  @include respond(break-1400) {
    position: relative;
    top: auto;
    left: auto;
    padding: 0.5rem;
  }
}
#sf18 {
  position: absolute;
  top: 35%;
  left: 90%;
  padding: 1rem 2rem;
  @include respond(break-1400) {
    position: relative;
    top: auto;
    left: auto;
    padding: 0.5rem;
  }
}
#sf19 {
  position: absolute;
  top: 45%;
  left: 90%;
  padding: 1rem 2rem;
  @include respond(break-1400) {
    position: relative;
    top: auto;
    left: auto;
    padding: 0.5rem;
  }
}
