/**========================================================================
 *                           TABLE OF CONTENTS 
 *========================================================================**/

.toc {
  height: 90vh;
  display: flex;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    ),
    url('../img/toc-crop.jpg');
  background-size: cover;

  &-mainLinks {
    display: flex;
    flex-direction: column;
  }
  &-pieceLinks {
    display: flex;
    flex-direction: column;
  }
}
