<!------------ SLIDE-IN MENU ------------>
<!--TEST-->
<section class="sideNav pointerEvents-none" id="sideMenu">
  <h3 class="sideNav-header"><a href="index.html">Table of Contents</a></h3>
  <div class="sideNav-allLinks">
    <!-- CHAPTERS LINK -->
    <div class="sideNav-link" id="chapters">
      <div class="sideNav-link--text">Maxa Millennial Chapters</div>
      <div class="sideNav-arrow" id="ddArrow-chapters">&#9660;</div>
    </div>
    <!-- Partial subNav-chapters NJK-->
    {% include "partials/nav/subNav_chapters.html" %}

    <!-- NONFICTION SF LINK -->
    <a
      href="index.html"
      class="sideNav-link sideNav-static"
      id="nonfiction-short"
    >
      <div class="sideNav-link--text">The Greener Side</div>
    </a>
    {% include "partials/nav/subNav_nonfiction-SF.html" %}

    <!-- FICTION LINK -->
    <div class="sideNav-link" id="shortStories">
      <div class="sideNav-link--text">Fiction</div>
      <div class="sideNav-arrow" id="ddArrow-shortStories">&#9660;</div>
    </div>

    <!-- Partial subNav-fiction NJK-->
    {% include "partials/nav/subNav_fiction.html" %}

    <!-- NONFICTION LF LINK -->
    <div class="sideNav-link" id="nonfiction-long">
      <div class="sideNav-link--text">Longform Non-Fiction</div>
      <div class="sideNav-arrow" id="ddArrow-nonfiction-long">&#9660;</div>
    </div>

    <!-- Partial subNav-nonfiction-LF NJK-->
    {% include "partials/nav/subNav_nonfiction-LF.html" %}

    <!--APHORISMS LINK -->
    <a href="index.html" class="sideNav-link sideNav-static" id="aphorisms">
      <div class="sideNav-link--text">Aphorisms</div>
    </a>

    <!-- POETRY LINK -->
    <a href="index.html" class="sideNav-link sideNav-static" id="poetry">
      <div class="sideNav-link--text">Poetry</div>
    </a>
  </div>
  <a href="about.html" class="sideNav-btn">
    <button class="sideNav-btn--contact">About</button>
  </a>
  <h2 class="sideNav-logo">MM</h2>
</section>
