<!------------ FICTION ------------>
<div class="subNav pointerEvents-none" id="list-shortStories">
  <h2 class="subNav-header">Fiction</h2>
  <a href="/mm/fiction/mirrorinthemirror.html" class="subNav-link">
    <p class="subNav-link--text">Mirror In the Mirror</p>
  </a>
  <a href="/mm/fiction/achairtonowhere.html" class="subNav-link">
    <div class="subNav-link--text">A Chair to Nowhere</div>
  </a>
  <a href="/mm/fiction/abishopswatchdog.html" class="subNav-link">
    <div class="subNav-link--text">A Bishop's Watchdog</div>
  </a>
  <a href="/mm/fiction/thedoctorsapprentice.html" class="subNav-link">
    <div class="subNav-link--text">The Doctor's Apprentice</div>
  </a>
  <a href="/mm/fiction/politiciansofthefuture.html" class="subNav-link">
    <div class="subNav-link--text">Politicians of the Future</div>
  </a>
</div>
