<!-- topNav.njk -->
<!------- TOPNAV ------->
<section class="topNav">
  <div class="topNav-left">
    <div class="topNav-hamMenu" id="hamMenu">
      <div class="topNav-hamMenu--line" id="hamLine1"></div>
      <div class="topNav-hamMenu--line" id="hamLine2"></div>
      <div class="topNav-hamMenu--line" id="hamLine3"></div>
    </div>
    <p class="topNav-title">Maxa Millennial Collections</p>
  </div>
  <div class="topNav-right">
    <a href="/index.html" class="topNav-link">Table of Contents</a>
  </div>
</section>
