<section class="about">
  <h2 class="about-mainHeader">About</h2>
  <div class="pictures">
    <div class="picture-one">
      <img src="../../img/about1.jpg" alt="" />
    </div>

    <div class="picture-two">
      <img src="../../img/about2.jpg" alt="" />
    </div>
  </div>
  <div class="about-contact">
    <div class="contact-one">
      <h5 class="about-miniHeader">Robert Klasen</h5>
      <div class="contact-socials">
        <a href="#" class="icon">
          <img src="../../img/instagram.png" alt="" />
        </a>
        <a href="#" class="icon">
          <img src="../../img/linked.png" alt="" />
        </a>
        <a href="#" class="icon">
          <img src="../../img/website.png" alt="" />
        </a>
      </div>
    </div>
    <div class="contact-two">
      <h5 class="about-miniHeader">Maddie Mason</h5>
      <div class="contact-socials">
        <a href="#" class="icon">
          <img src="../../img/instagram.png" alt="" />
        </a>
        <a href="#" class="icon">
          <img src="../../img/linked.png" alt="" />
        </a>
        <a href="#" class="icon">
          <img src="../../img/website.png" alt="" />
        </a>
      </div>
    </div>
  </div>
  <h4 class="about-subHeader">Project Details</h4>
  <div class="about-content">
    <div class="about-text text">
      "You shall become who you are." There are two paths for the philosopher to
      take. The first is one of sterilized analysis. We ask questions, define
      premises, make observations, and attempt to build a static picture of the
      ideas we have. The other path is dynamic. You wake up (feeling just a
      little different than normal). You feel sadness, happiness, fear or
      excitement -- things we must leave outside our analysis for purposes of
      objectivity. Maxamillennial.org is the intersecting of these paths. The
      entire scope of the project strives to make a coherent argument while the
      individual links are only moments that pass, feelings that can't stand up
      to the scrutiny of argument.
    </div>
    <div class="about-text text">
      In this project, all pictures were taken by the talented Maddie Mason
      while all pieces were written by Robert Klasen. Years in the making, it
      takes a unique connection for a project like this to come to life. One
      day, one picture, one piece, it often felt like we were lost on the path
      yet still traveling forwards. Maybe we were.
    </div>
  </div>
</section>
