<section class="about">
  <h2 class="about-mainHeader">About</h2>
  <div class="pictures">
    <div class="picture-one">
      <img src="../../img/about1.jpg" alt="" />
    </div>

    <div class="picture-two">
      <img src="../../img/about2.jpg" alt="" />
    </div>
  </div>
  <div class="about-contact">
    <div class="contact-one">
      <h5 class="about-miniHeader">Robert Klasen</h5>
      <div class="contact-socials">
        <a href="#" class="icon">
          <img src="../../img/instagram.png" alt="" />
        </a>
        <a href="#" class="icon">
          <img src="../../img/linked.png" alt="" />
        </a>
        <a href="#" class="icon">
          <img src="../../img/website.png" alt="" />
        </a>
      </div>
    </div>
    <div class="contact-two">
      <h5 class="about-miniHeader">Maddie Mason</h5>
      <div class="contact-socials">
        <a href="#" class="icon">
          <img src="../../img/instagram.png" alt="" />
        </a>
        <a href="#" class="icon">
          <img src="../../img/linked.png" alt="" />
        </a>
        <a href="#" class="icon">
          <img src="../../img/website.png" alt="" />
        </a>
      </div>
    </div>
  </div>
  <h4 class="about-subHeader">Project Details</h4>
  <div class="about-content">
    <div class="about-text text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati
      architecto nam voluptatum voluptatem tenetur aliquam est placeat, vero
      nostrum? Nihil nam pariatur nemo nobis commodi. Maxime corporis unde,
      aspernatur sapiente, quo sunt enim magni, cupiditate repellat tempore esse
      ipsam sint ad repudiandae. Maxime, ipsa. Voluptatem pariatur similique
      omnis sit molestias.
    </div>
    <div class="about-text text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati
      architecto nam voluptatum voluptatem tenetur aliquam est placeat, vero
      nostrum? Nihil nam pariatur nemo nobis commodi. Maxime corporis unde,
      aspernatur sapiente, quo sunt enim magni, cupiditate repellat tempore esse
      ipsam sint ad repudiandae. Maxime, ipsa. Voluptatem pariatur similique
      omnis sit molestias.
    </div>
  </div>
</section>
