<!------- STORY CONTENT ------->
<section class="chapter">
  <div class="chapter-landing chapter-landing--c3">
    <div class="title title-landing title-landing--c3">
      <h1 class="title-chapterNumber">Chapter 3:</h1>
      <h1 class="title-chapterTitle title-chapterTitle--c3">Ego Death</h1>
      <span class="title-authorName">By Maxa Millennial</span>
      <button class="title-btn">Read Now</button>
    </div>
  </div>
  <div class="chapter-content">
    <div id="scrollAdhoc"></div>
    <div class="title title-content">
      <h2 class="title-chapterTitle text-align-center">Ego Death</h2>
      <span class="title-authorName">By Maxa Millennial</span>
    </div>
    <div class="chapter-text">
      <p class="text">
        With a brief glance at who I was supposed to be, I just try to ESCAPE.
        Along the way, I realize I've been brewing poisons and administering
        them to myself as the cure. And while these glances only catch their
        moment between the hard-battled life of substance-infused bliss, they
        come from a broken imagination that presents infinite possibility in the
        place of cold reality. Inside I take flight but out there I'm nowhere.
      </p>
      <p class="text">
        Within that empty place, it's a necessity that I interact with drug
        users. It's necessary because if faced with the dilemma of buying drugs,
        and by drugs I mean the most mundane substance in the escapist's
        toolkit, then one has to not only contact someone from that group, but
        they must also form a relationship. Every purchase first involves a
        social interaction in which the vocabulary is constantly being adapted
        to suit the character of the drugged out lollard. I actually like that
        part but, I've found, I don't share much with the underside even though
        I'm one of their usual suspects.
      </p>
      <p class="text">
        There is one commonality between us though. It's the usual refrain among
        the acidic, shroomed, and tripified ones: the ever enlightening Ego
        Death. "I saw the world as though my individual self wasn't a part of
        it." This phrase always pulls me in, but I quickly find I have little
        patience for these stories that almost all begin with the same, at this
        point, comical phrase, "I forgot most of the trip, but," but what they
        remember from the rest is surely an experience no one else has had
        before — minus their tripping friends of course. "I forgot most of the
        trip, but what I remember is that it changed my life forever."
      </p>
      <p class="text">
        So what's an ego death? According to the trippers it's a momentary lapse
        of worth, a span of time where every care and worry you have fades away,
        every love and hate fades away, every goal and ambition fades — quite a
        description, and it does the job well enough. Although, they really
        should use more precise language as their looseness mischaracterizes the
        lasting impression of the feeling that was felt. Mainly because at the
        end of each of those faded emotions is their revival. In their dive
        emotion departs, but then it returns.
      </p>
      <p class="text">
        Me? I've actually experienced an ego death; I killed it myself.
      </p>
    </div>
  </div>
</section>
