<!------- STORY CONTENT ------->
<section class="chapter">
  <div class="chapter-landing chapter-landing--c5">
    <div class="title title-landing title-landing--c5">
      <h1 class="title-chapterNumber">Chapter 5:</h1>
      <h1 class="title-chapterTitle title-chapterTitle--c5">
        My Brothers and Sisters
      </h1>
      <span class="title-authorName">By Maxa Millennial</span>
      <button class="title-btn">Read Now</button>
    </div>
  </div>
  <div class="chapter-content">
    <div id="scrollAdhoc"></div>
    <div class="title title-content">
      <h2 class="title-chapterTitle text-align-center">
        My Brothers and Sisters
      </h2>
      <span class="title-authorName">By Maxa Millennial</span>
    </div>
    <div class="chapter-text">
      <p class="text">
        And for you, my brothers and sisters, the kindred souls that I only know
        through the pain.
      </p>
      <p class="text">
        You, hold the line! The enemy that approaches is unseen. The enemy that
        approaches takes everything from you by telling you that there was
        nothing to possess.
      </p>
      <p class="text">
        You, stand tall! The unwinnable moment has arrived. The fear is at your
        feet.
      </p>
      <p class="text">
        You, look ahead! In this moment that is yours, you will have only an
        instant to glimpse your identity, and it will bring you nothing but
        dread.
      </p>
      <p class="text">
        You, do not cease! Your continuation is all that matters. Not your
        continuation of body or mind, but your continuation of soul. It matters
        not what the scorecard shows because don't you see you created it
        yourself. It only matters that you did not crumple up your creation and
        forget about the game you played.
      </p>
      <p class="text">
        You, embrace my hand! We stand together for as long as we have time. In
        this pit of despair you will soon leave me, and I will soon leave you.
        And yet, in this moment we create. You and I, a universe as our
        universe.
      </p>
      <p class="text">
        You, strike the iron! Do not let your temperature drop. It must remain
        hot if we are to gaze the finish line. The shivering of your soul is not
        a death throe, it’s merely a reflex. This is not your time. Your time
        will never come on this day. Your time will be with me for all eternity.
      </p>
      <p class="text">
        You, it’s okay now, it’s over. Your valiant charge into the dust has
        caused quite a stir, but like all things you and I will soon settle now.
        We can finally settle into the nothingness we’ve known but never seen,
        pursued as we sprinted away from. This life, existence, we’ve netted is
        just like the rest, and still so different, and it’s ours.
      </p>
      <p class="text">You, me.</p>
    </div>
  </div>
</section>
