<!------- STORY CONTENT ------->
<section class="chapter">
  <div class="chapter-landing chapter-landing--c6">
    <div class="title title-landing title-landing--c6">
      <h1 class="title-chapterNumber">Chapter 6:</h1>
      <h1 class="title-chapterTitle title-chapterTitle--c6">
        A Journal Entry from the Last Man on Earth
      </h1>
      <span class="title-authorName">By Maxa Millennial</span>
      <button class="title-btn">Read Now</button>
    </div>
  </div>
  <div class="chapter-content">
    <div id="scrollAdhoc"></div>
    <div class="title title-content">
      <h2 class="title-chapterTitle text-align-center">
        A Journal Entry from the Last Man on Earth
      </h2>
      <span class="title-authorName">By Maxa Millennial</span>
    </div>
    <div class="chapter-text">
      <!-- LOOP NJK-->
      {% for chapterText in aJournalEntryFromTheLastManOnEarth %}
      <p class="text">{{chapterText.paragraph}}</p>
      {% endfor %}
    </div>
  </div>
</section>
