<!------- STORY CONTENT ------->
<section class="chapter">
  <div class="chapter-landing chapter-landing--prologue">
    <div class="title title-landing title-landing--prologue">
      <h1 class="title-chapterNumber">Prologue:</h1>
      <h1 class="title-chapterTitle title-chapterTitle--prologue">A Meeting</h1>
      <span class="title-authorName">By Maxa Millennial</span>
      <button class="title-btn">Read Now</button>
    </div>
  </div>
  <div class="chapter-content">
    <div id="scrollAdhoc"></div>
    <div class="title title-content">
      <h2 class="title-chapterTitle text-align-center">A Meeting</h2>
      <span class="title-authorName">By Maxa Millennial</span>
    </div>
    <div class="chapter-text">
      <p class="text">
        When I asked him what genre he wrote in, he looked at me, smirked, and
        said "Everything except comedy".
      </p>
      <p class="text">
        From the moment we met him, his eyes always probed the conversation. It
        was like there were two interactions happening simultaneously: His words
        spoke a message while his eyes keenly surveyed each participant. They
        had a grayish hue causing his gaze to splay a feeling of overcast across
        each string of phrases. It had the effect of producing a fleeting
        darkness that overtook every thought just as it fizzled out.
      </p>
      <p class="text">
        Throughout Maxa Millennial's existence, he strove to write thousands of
        pages proclaiming each page created an everlasting bond between reality
        and existence. Yet all that he could bear to manage are the few works
        found here. He wrote with a purpose that he knew had no method of
        prolonged existence. Listening to what read as confessions, one can feel
        a sense of relief as his demons, imagined and invented, envelop the
        light around him.
      </p>
      <p class="text">
        But now, with his death plainly passed, a post-mortem can finally be
        performed. It begins with a sweeping surge of drama -- melodrama that
        is. For when one traces the journey of Maxa Millennial, what's found is
        a life twisted by apocalyptic thoughts, an existence with the extreme
        always in reach, with the next moment always in question.
      </p>
      <p class="text">
        Perhaps it's because, if he forgot this truth, if he forgot where he
        came from, he would never remember where he needed to go.
      </p>
    </div>
  </div>
</section>
