<!------------ SLIDE-IN MENU ------------>
<!--TEST-->
<section class="sideNav pointerEvents-none" id="sideMenu">
  <h3 class="sideNav-header"><a href="index.html">Table of Contents</a></h3>
  <div class="sideNav-allLinks">
    <!-- CHAPTERS LINK -->
    <div class="sideNav-link" id="chapters">
      <div class="sideNav-link--text">Maxa Millennial Chapters</div>
      <div class="sideNav-arrow" id="ddArrow-chapters">&#9660;</div>
    </div>
    <!-- Partial subNav-chapters NJK-->
    {% include "partials/subNav_chapters.html" %}

    <!-- FICTION LINK -->
    <div class="sideNav-link" id="shortStories">
      <div class="sideNav-link--text">Fiction</div>
      <div class="sideNav-arrow" id="ddArrow-shortStories">&#9660;</div>
    </div>

    <!-- Partial subNav-fiction NJK-->
    {% include "partials/subNav_fiction.html" %}

    <!-- NONFICTION LF LINK -->
    <div class="sideNav-link" id="nonfiction-long">
      <div class="sideNav-link--text">Longform Non-Fiction</div>
      <div class="sideNav-arrow" id="ddArrow-nonfiction-long">&#9660;</div>
    </div>

    <!-- Partial subNav-nonfiction-LF NJK-->
    {% include "partials/subNav_nonfiction-LF.html" %}

    <!-- NONFICTION SF LINK -->
    <div class="sideNav-link" id="nonfiction-short">
      <div class="sideNav-link--text">Shortform Non-fiction</div>
      <div class="sideNav-arrow" id="ddArrow-nonfiction-short">&#9660;</div>
    </div>
    <!-- Partial subNav-nonfiction-SF NJK-->
    {% include "partials/subNav_nonfiction-SF.html" %}

    <!--APHORISMS LINK -->
    <div class="sideNav-link" id="aphorisms">
      <div class="sideNav-link--text">Aphorisms</div>
      <div class="sideNav-arrow" id="ddArrow-aphorisms">&#9660;</div>
    </div>
    <!-- Partial subNav-aphorisms NJK-->
    {% include "partials/subNav_aphorisms.html" %}

    <!-- POETRY LINK -->
    <div class="sideNav-link" id="poetry">
      <div class="sideNav-link--text">Poetry</div>
      <div class="sideNav-arrow" id="ddArrow-poetry">&#9660;</div>
    </div>
    <!-- Partial subNav-poetry NJK-->
    {% include "partials/subNav_poetry.html" %}

    <!-- ARTICLES LINK -->
    <div class="sideNav-link" id="articles">
      <div class="sideNav-link--text">Panagram Articles</div>
      <div class="sideNav-arrow" id="ddArrow-articles">&#9660;</div>
    </div>
    <!-- Partial subNav-articles NJK-->
    {% include "partials/subNav_articles.html" %}
  </div>
  <div class="sideNav-btn">
    <button class="sideNav-btn--contact">Contact Me</button>
  </div>
  <h2 class="sideNav-logo">MM</h2>
</section>
