<!------------ APHORISMS ------------>
<div class="subNav pointerEvents-none" id="list-aphorisms">
  <h2 class="subNav-header">Aphorisms - coming soon</h2>
  <a href="#" class="subNav-link">
    <p class="subNav-link--text">1. A Drop In the Ocean</p>
  </a>
  <a href="#" class="subNav-link">
    <p class="subNav-link--text">2. Age Old Wisdom</p>
  </a>
  <a href="#" class="subNav-link">
    <p class="subNav-link--text">3. Charity Work</p>
  </a>
  <a href="#" class="subNav-link">
    <p class="subNav-link--text">4. CREATE</p>
  </a>
  <a href="#" class="subNav-link">
    <p class="subNav-link--text">5. Epilogue</p>
  </a>
  <a href="#" class="subNav-link">
    <p class="subNav-link--text">6. Existential Dread</p>
  </a>
  <a href="#" class="subNav-link">
    <p class="subNav-link--text">7. I am a Fraud</p>
  </a>
  <a href="#" class="subNav-link">
    <p class="subNav-link--text">8. Impact</p>
  </a>
  <a href="#" class="subNav-link">
    <p class="subNav-link--text">9. Lost In My Head</p>
  </a>
  <a href="#" class="subNav-link">
    <p class="subNav-link--text">10. Moments of Validity</p>
  </a>
  <a href="#" class="subNav-link">
    <p class="subNav-link--text">11. My-being Mask</p>
  </a>
  <a href="#" class="subNav-link">
    <p class="subNav-link--text">12. Pillars of Consciousness</p>
  </a>
  <a href="#" class="subNav-link">
    <p class="subNav-link--text">13. Real-world Friends</p>
  </a>
  <a href="#" class="subNav-link">
    <p class="subNav-link--text">14. Surveying My Soulscape</p>
  </a>
  <a href="#" class="subNav-link">
    <p class="subNav-link--text">15. The Absurd</p>
  </a>
  <a href="#" class="subNav-link">
    <p class="subNav-link--text">16. The After-life</p>
  </a>
  <a href="#" class="subNav-link">
    <p class="subNav-link--text">17. The Backhanded Jaywalk</p>
  </a>
  <a href="#" class="subNav-link">
    <p class="subNav-link--text">18. You Look So Different</p>
  </a>
</div>
