<!------------ SHORTFORM NONFICTION ------------>
<div class="subNav" id="list-nonfiction-short">
  <h2 class="subNav-header">Shortform Non-fiction - coming soon</h2>
  <a href="#" class="subNav-link">
    <p class="subNav-link--text">1. The Reasons I Can't Find</p>
  </a>
  <a href="#" class="subNav-link">
    <p class="subNav-link--text">2. Demolition Derby: HOUSE FOR SALE</p>
  </a>
  <a href="#" class="subNav-link">
    <p class="subNav-link--text">3. Growing Pains</p>
  </a>
  <a href="#" class="subNav-link">
    <p class="subNav-link--text">4. Finding Zen</p>
  </a>
  <a href="#" class="subNav-link">
    <p class="subNav-link--text">5. Into the Gray</p>
  </a>

  <!------------ THE GREENER SIDE ------------>
  <!-- <div class="topNav-ddMenu--listLinkContainer hidden" id="theGreenerSide">
    <p class="subNav-link--text">6. The Greener Side: Putting Down the Pen</p>
    <div class="topNav-ddMenu--ddArrowContainer">
      <div class="topNav-ddMenu--ddArrow" id="ddArrow-theGreenerSide">
        &#9660;
      </div>
    </div>
  </div>
  <div class="topNav-ddMenu--miniListContainer hidden">
    <a href="#" class="subNav-link">
      <div class="topNav-ddMenu--categoryLink miniLink">Part 1</div>
    </a>
    <a href="#" class="subNav-link">
      <div class="topNav-ddMenu--categoryLink miniLink">Part 2</div>
    </a>
    <a href="#" class="subNav-link">
      <div class="topNav-ddMenu--categoryLink miniLink">Part 3</div>
    </a>
    <a href="#" class="subNav-link">
      <div class="topNav-ddMenu--categoryLink miniLink">Part 4</div>
    </a>
    <a href="#" class="subNav-link">
      <div class="topNav-ddMenu--categoryLink miniLink">Part 5</div>
    </a>
  </div> -->
  <a href="#" class="subNav-link">
    <p class="subNav-link--text">6. My Existential Romance</p>
  </a>
  <a href="#" class="subNav-link">
    <p class="subNav-link--text">7. The Feeling of a Soft Mind</p>
  </a>
  <a href="#" class="subNav-link">
    <p class="subNav-link--text">8. The Outside Witness</p>
  </a>
  <a href="#" class="subNav-link">
    <p class="subNav-link--text">9. End Days</p>
  </a>
  <a href="#" class="subNav-link">
    <p class="subNav-link--text">10. The Midwestern Root</p>
  </a>
  <a href="#" class="subNav-link">
    <p class="subNav-link--text">11. Moments In-between</p>
  </a>
  <a href="#" class="subNav-link">
    <p class="subNav-link--text">12. Switched</p>
  </a>
  <a href="#" class="subNav-link">
    <p class="subNav-link--text">13. And, Today</p>
  </a>
</div>
