<!------------ LONGFORM NONFICTION ------------>
<div class="subNav" id="list-nonfiction-long">
  <h2 class="subNav-header">Longform Non-fiction - coming soon</h2>
  <a href="#" class="subNav-link">
    <p class="subNav-link--text">1. An Essay Concerning You</p>
  </a>
  <a href="#" class="subNav-link">
    <p class="subNav-link--text">2. A Theory of Acknowledgement</p>
  </a>
  <a href="#" class="subNav-link">
    <p class="subNav-link--text">3. An Addict, a Thief, and a Catalogger</p>
  </a>
  <a href="#" class="subNav-link">
    <p class="subNav-link--text">4. A Stranger's Stranger</p>
  </a>
  <a href="#" class="subNav-link">
    <p class="subNav-link--text">5. Kings So Conquered</p>
  </a>
  <a href="#" class="subNav-link">
    <p class="subNav-link--text">6. An Existential Critique of Capitalism</p>
  </a>
  <a href="#" class="subNav-link">
    <p class="subNav-link--text">7. Assumptive Critiques</p>
  </a>
  <a href="#" class="subNav-link">
    <p class="subNav-link--text">8. The Sonderer</p>
  </a>
  <a href="#" class="subNav-link">
    <p class="subNav-link--text">9. The Watchers</p>
  </a>
  <a href="#" class="subNav-link">
    <p class="subNav-link--text">10. Severed</p>
  </a>
</div>
