<!------------ TEST ------------>
<!------------ ------------------------ ------------>
<!------------ Maxa Millennial Chapters ------------>
<!------------ ------------------------ ------------>
<div class="subNav" id="list-chapters">
  <h2 class="subNav-header">Maxa Milennial Chapters</h2>
  <a href="index.html" class="subNav-link">
    <p class="subNav-link--text">Prologue</p>
  </a>
  <a href="chapter1.html" class="subNav-link">
    <p class="subNav-link--text">1. A Terminal Diagnosis</p>
  </a>
  <a href="chapter2.html" class="subNav-link">
    <p class="subNav-link--text">2. Surviving the First Death</p>
  </a>
  <a href="chapter3.html" class="subNav-link">
    <p class="subNav-link--text">3. Ego Death</p>
  </a>
  <a href="chapter4.html" class="subNav-link">
    <p class="subNav-link--text">4. The Fight to Undermine</p>
  </a>
  <a href="chapter5.html" class="subNav-link">
    <p class="subNav-link--text">5. My Brothers and Sisters</p>
  </a>
  <a href="chapter6.html" class="subNav-link">
    <p class="subNav-link--text">
      6. A Journal Entry from the Last Man on Earth
    </p>
  </a>
</div>
