<!------------ PANAGRAM ARTICLES ------------>
<div class="subNav" id="list-articles">
  <h2 class="subNav-header">Panagram Articles - coming soon</h2>
  <a href="#" class="subNav-link">
    <p class="subNav-link--text">1. How Does a Panagram Start?</p>
  </a>
  <a href="#" class="subNav-link">
    <p class="subNav-link--text">2. Life Energy of a Panagram</p>
  </a>
  <a href="#" class="subNav-link">
    <p class="subNav-link--text">3. Panagram and Flow State</p>
  </a>
  <a href="#" class="subNav-link">
    <p class="subNav-link--text">
      4. Panagram Extensions: Getting Things Done (GTD)
    </p>
  </a>
  <a href="#" class="subNav-link">
    <p class="subNav-link--text">
      5. The Classical and Romantic Split: Panagrams
    </p>
  </a>
  <a href="#" class="subNav-link">
    <p class="subNav-link--text">6. What Is a Panagram?</p>
  </a>
  <a href="#" class="subNav-link">
    <p class="subNav-link--text">7. Panagram Smith: The Boulder Pusher</p>
  </a>
  <a href="#" class="subNav-link">
    <p class="subNav-link--text">8. The Panagram Lifestyle</p>
  </a>
  <a href="#" class="subNav-link">
    <p class="subNav-link--text">9. Introducing Panagram</p>
  </a>
</div>
