<section class="toc">
  <div class="toc-mainLinks">
    <div class="mainLink">
      <p class="mainLink-text">Maxa Millennial Chapters</p>
    </div>
    <div class="mainLink">
      <p class="mainLink-text">Fiction</p>
    </div>
    <div class="mainLink">
      <p class="mainLink-text">Longform Non-fiction</p>
    </div>
    <div class="mainLink">
      <p class="mainLink-text">Shortform Non-fiction</p>
    </div>
    <div class="mainLink">
      <p class="mainLink-text">Aphorisms</p>
    </div>
    <div class="mainLink">
      <p class="mainLink-text">Poetry</p>
    </div>
  </div>
  <div class="toc-pieceLinks">
    <a href="#" class="pieceLink">Prologue: A Meeting</a>
    <a href="#" class="pieceLink">Chapter 1: A Terminal Diagnosis</a>
    <a href="#" class="pieceLink">Chapter 2: Surviving the First Death</a>
    <a href="#" class="pieceLink">Chapter 3: Ego Death</a>
    <a href="#" class="pieceLink">Chapter 4: The Fight to Undermine</a>
    <a href="#" class="pieceLink">Chapter 5: My Brothers and Sisters</a>
    <a href="#" class="pieceLink">
      Chapter 6: A Journal Entry from the Last Man on Earth
    </a>
  </div>
</section>
