<section class="toc">
  <div class="toc-mainLinks">
    <div class="toc-mainLinks--container">
      <div class="mainLink" id="toc-chaptersLink">
        <p class="mainLink-text">Maxa Millennial Chapters</p>
      </div>
      <div class="mainLink" id="toc-fictionLink">
        <p class="mainLink-text">Fiction</p>
      </div>
      <div class="mainLink" id="toc-LF-NonfictionLink">
        <p class="mainLink-text">Longform Non-fiction</p>
      </div>
      <div class="mainLink" id="toc-SF-NonfictionLink">
        <p class="mainLink-text">Shortform Non-fiction</p>
      </div>
      <div class="mainLink" id="toc-aphorismsLink">
        <p class="mainLink-text">Aphorisms</p>
      </div>
      <div class="mainLink" id="toc-poetryLink">
        <p class="mainLink-text">Poetry</p>
      </div>
    </div>
  </div>

  <!--! FICTION -->
  <div class="toc-pieceLinks">
    {% include "partials/toc_fiction.html" %}
    <!--! CHAPTERS -->
    {% include "partials/toc_chapters.html" %}
  </div>
</section>
