<!--! Aphorisms -->
<div
  class="toc-pieceLinks--aphorisms pointerEvents-none"
  id="toc-aphorismsDisplay"
>
  <div class="toc-miniContainer">
    <div class="miniContainer-header">Aphorism List</div>
    <div class="pieceLink pieceLink-aphorism" id="a1">A Drop In the Ocean</div>
    <div class="pieceLink pieceLink-aphorism" id="a2">Age Old Wisdom</div>
    <div class="pieceLink pieceLink-aphorism" id="a3">Charity Work</div>
    <div class="pieceLink pieceLink-aphorism" id="a4">CREATE</div>
    <div class="pieceLink pieceLink-aphorism" id="a5">City - Part 1</div>
    <div class="pieceLink pieceLink-aphorism" id="a6">City - Part 2</div>
    <div class="pieceLink pieceLink-aphorism" id="a6">Epilogue</div>
    <div class="pieceLink pieceLink-aphorism" id="a7">Existential Dread</div>
    <div class="pieceLink pieceLink-aphorism" id="a8">Heidegger's Dashes</div>
    <div class="pieceLink pieceLink-aphorism" id="a9">I am a Fraud</div>
    <div class="pieceLink pieceLink-aphorism" id="a10">Impact</div>
    <div class="pieceLink pieceLink-aphorism" id="a11">Lost in My Head</div>
    <div class="pieceLink pieceLink-aphorism" id="a12">
      Maxa Millennial Creating
    </div>
    <div class="pieceLink pieceLink-aphorism" id="a13">
      Maxa the Overcreator
    </div>
    <div class="pieceLink pieceLink-aphorism" id="a14">MaxaMillennial.org</div>
    <div class="pieceLink pieceLink-aphorism" id="a15">Moments of Validity</div>
    <div class="pieceLink pieceLink-aphorism" id="a16">My-being Mask</div>
    <div class="pieceLink pieceLink-aphorism" id="a17">
      Pillars of Consciousness
    </div>
    <div class="pieceLink pieceLink-aphorism" id="a18">Real-world Friends</div>
    <div class="pieceLink pieceLink-aphorism" id="a19">
      Surveying My Soulscape
    </div>
    <div class="pieceLink pieceLink-aphorism" id="a20">The Absurd</div>
    <div class="pieceLink pieceLink-aphorism" id="a21">The After-life</div>
    <div class="pieceLink pieceLink-aphorism" id="a22">
      The Backhanded Jaywalk
    </div>
    <div class="pieceLink pieceLink-aphorism" id="a23">
      You Look So Different
    </div>
  </div>
  <div class="toc-pieceDisplay">
    <h4 class="pieceDisplay-header">Charity Work</h4>
    <p class="pieceDisplay-text">
      I will never donate anonymously. Never ever. I'll donate everything I own
      but never anonymously.
    </p>
    <a href="#" class="pieceDisplay-link">Go to Page</a>
    <div class="pieceDisplay-btn">Random Aphorism</div>
  </div>
</div>
