<!-- topNav.njk -->
<!------- TOPNAV ------->
<section class="topNav">
  <div class="topNav-left">
    <div class="topNav-hamMenu" id="hamMenu">
      <div class="topNav-hamMenu--line" id="hamLine1"></div>
      <div class="topNav-hamMenu--line" id="hamLine2"></div>
      <div class="topNav-hamMenu--line" id="hamLine3"></div>
    </div>
    <a class="topNav-title">Maxa Millennial Collections</a>
  </div>
  <div class="topNav-right">
    <div class="topNav-link">Panagram</div>
  </div>
</section>
