<!-- topNav.njk -->
<!------- TOPNAV ------->
<section class="topNav">
  <!--! Should be separate section from sideNav -->
  <div class="topNav-left">
    <div class="topNav-hamMenu" id="hamMenu">
      <!--TODO remove container from class -->
      <div class="topNav-hamMenu--line" id="hamLine1"></div>
      <div class="topNav-hamMenu--line" id="hamLine2"></div>
      <div class="topNav-hamMenu--line" id="hamLine3"></div>
    </div>
    <!--TODO remove container from class -->
    <a class="topNav-title">Maxa Millennial Collections</a>
  </div>
  <!--TODO Class name topNav-left -->
  <div class="topNav-right">
    <div class="topNav-link">Panagram</div>
  </div>
  <!--TODO Class name topNav-right -->
</section>
