<!-- TITLE MACRO -->

{% macro title(title='Prologue') %} {%if title == 'Prologue' %}
<title>Prologue</title>
{% endif %} {%if title == 'A Terminal Diagnosis' %}
<title>A Terminal Diagnosis</title>
{% endif %} {%if title == 'Surviving the First Death' %}
<title>Surviving the First Death</title>
{% endif %} {%if title == 'Ego Death' %}
<title>Ego Death</title>
{% endif %} {%if title == 'The Fight to Undermine' %}
<title>The Fight to Undermine</title>
{% endif %} {%if title == 'My Brothers and Sisters' %}
<title>My Brothers and Sisters</title>
{% endif %} {%if title == 'A Journal Entry from the Last Man on Earth' %}
<title>A Journal Entry from the Last Man on Earth</title>
{% endif %} {%if title == 'Table of Contents' %}
<title>Table of Contents</title>
{% endif %} {%if title == 'aBishopsWatchdog' %}
<title>A Bishop's Watchdog</title>
{% endif %} {%if title == 'aChairToNowhere' %}
<title>A Chair to Nowhere</title>
{% endif %} {%if title == 'politiciansOfTheFuture' %}
<title>Politicians of the Future</title>
{% endif %} {%if title == 'mirrorInTheMirror' %}
<title>Mirror In the Mirror</title>
{% endif %} {%if title == 'theDocotorsApprentice' %}
<title>The Doctor's Apprentice</title>
{% endif %} {%if title == 'anAddictsDesperation' %}
<title>An Addict's Desperation</title>
{% endif %} {%if title == 'anEssayConcerningYou' %}
<title>An Essay Concerning You</title>
{% endif %} {%if title == 'anExistentialCritiqueOfCapitalism' %}
<title>An Existential Critique of Capitalism</title>
{% endif %} {%if title == 'assumptiveCritiques' %}
<title>Assumptive Critiques</title>
{% endif %} {%if title == 'aStrangersStranger' %}
<title>A Stranger's Stranger</title>
{% endif %} {%if title == 'aTheoryOfAcknowledgement' %}
<title>A Theory of Acknowledgement</title>
{% endif %} {%if title == 'kingsSoConquered' %}
<title>Kings So Conquered</title>
{% endif %} {%if title == 'severed' %}
<title>Severed</title>
{% endif %} {%if title == 'anAddictMeetsRachelBloom' %}
<title>An Addict Meets Rachel Bloom</title>
{% endif %} {%if title == 'theSonderer' %}
<title>The Sonderer</title>
{% endif %} {%if title == 'theTimeIMetRachelBloom' %}
<title>The Time I Met Rachel Bloom</title>
{% endif %} {%if title == 'theWatchers' %}
<title>The Watchers</title>
{% endif %} {%if title == 'about' %}
<title>About</title>
{% endif %}{% endmacro %}
