<!-- TITLE MACRO -->

{% macro title(title='Prologue') %} {%if title == 'Prologue' %}
<title>Prologue</title>
{% endif %} {%if title == 'A Terminal Diagnosis' %}
<title>A Terminal Diagnosis</title>
{% endif %} {%if title == 'Surviving the First Death' %}
<title>Surviving the First Death</title>
{% endif %} {%if title == 'Ego Death' %}
<title>Ego Death</title>
{% endif %} {%if title == 'The Fight to Undermine' %}
<title>The Fight to Undermine</title>
{% endif %} {%if title == 'My Brothers and Sisters' %}
<title>My Brothers and Sisters</title>
{% endif %} {%if title == 'A Journal Entry from the Last Man on Earth' %}
<title>A Journal Entry from the Last Man on Earth</title>
{% endif %} {% endmacro %}
