<section class="toc">
  <div class="toc-mainLinks">
    <div class="toc-mainLinks--container">
      <div class="mainLink" id="toc-chaptersLink">
        <p class="mainLink-text">Maxa Millennial Chapters</p>
      </div>
      <div class="mainLink" id="toc-fictionLink">
        <p class="mainLink-text">Fiction</p>
      </div>
      <div class="mainLink" id="toc-LF-NonfictionLink">
        <p class="mainLink-text">Longform Non-fiction</p>
      </div>
      <div class="mainLink" id="toc-SF-NonfictionLink">
        <p class="mainLink-text">Shortform Non-fiction</p>
      </div>
      <div class="mainLink" id="toc-aphorismsLink">
        <p class="mainLink-text">Aphorisms</p>
      </div>
      <div class="mainLink" id="toc-poetryLink">
        <p class="mainLink-text">Poetry</p>
      </div>
    </div>
  </div>

  <div class="toc-pieceLinks">
    <!--! FICTION -->
    {% include "partials/toc/toc_fiction.html" %}
    <!--! CHAPTERS -->
    {% include "partials/toc/toc_chapters.html" %}
    <!--! Nonfiction LF -->
    {% include "partials/toc/toc_nonfiction-LF.html" %}
    <!--! Nonfiction SF -->
    <!-- {% include "partials/toc/toc_nonfiction-SF.html" %} -->
    <!--! Aphorisms  -->
    {% include "partials/toc/toc_aphorisms.html" %}
    <!--! Poetry -->
    {% include "partials/toc/toc_poetry.html" %}
  </div>
</section>

<!--! Greener Side Modals -->
{% include "partials/toc/toc_modals.html" %}
