<!--! FICTION -->
<div class="toc-pieceLinks--fiction pointerEvents-none" id="toc-fictionDisplay">
  <a href="mirrorInTheMirror.html" class="pieceLink pieceLink-fiction" id="f1">
    Mirror In the Mirror
  </a>
  <a href="aChairToNowhere.html" class="pieceLink pieceLink-fiction" id="f2">
    A Chair to Nowhere
  </a>
  <a href="aBishopsWatchdog.html" class="pieceLink pieceLink-fiction" id="f3">
    A Bishop's Watchdog
  </a>
  <a
    href="theDoctorsApprentice.html"
    class="pieceLink pieceLink-fiction"
    id="f4"
  >
    The Doctor's Apprentice
  </a>
  <a
    href="politiciansofthefuture.html"
    class="pieceLink pieceLink-fiction"
    id="f5"
  >
    Politicians of the Future
  </a>
</div>
