<div class="modal-container showModal" id="modal-opened">
  <div class="modal-landing showModal">
    <div class="modal__details">
      <h1 class="modal__title">Welcome</h1>
      <p class="modal__description">
        Below are some details about this project that will help navigate this
        website.
      </p>
    </div>

    <p class="modal__text">
      This website is a collection of writing and photography. Beyond this, all
      the pieces as a whole make an argument about the self. It asks questions
      like 'Who are we?' and 'Who are you?'
    </p>

    <p class="modal__text">
      Ultimately, there are more questions than answers here, but it's the
      introspective self that sits at the core of all these ideas.
    </p>

    <a href="#modal-closed" class="link-2"></a>
  </div>
</div>
