<!--! Poetry -->
<div class="toc-pieceLinks--poetry pointerEvents-none" id="toc-poetryDisplay">
  <div class="toc-miniContainer">
    <div class="miniContainer-header">Poem List</div>
    <div class="miniContainer-header--close" id="poemClose">Close</div>
    <div class="pieceLink pieceLink-poetry" id="p1">5:21</div>
    <div class="pieceLink pieceLink-poetry" id="p2">A Drug for Humans</div>
    <div class="pieceLink pieceLink-poetry" id="p3">DOCTYPE! Soulscape</div>
    <div class="pieceLink pieceLink-poetry" id="p4">
      How Can He Deny My Premises
    </div>
    <div class="pieceLink pieceLink-poetry" id="p5">Hunger Pangs</div>
    <div class="pieceLink pieceLink-poetry" id="p6">Mirror Writing</div>
    <div class="pieceLink pieceLink-poetry" id="p7">Often Times</div>
    <div class="pieceLink pieceLink-poetry" id="p8">One Track Life</div>
    <div class="pieceLink pieceLink-poetry" id="p9">Someday</div>
    <div class="pieceLink pieceLink-poetry" id="p10">So Soon I'll Retire</div>
    <div class="pieceLink pieceLink-poetry" id="p11">
      Standing at the Corner
    </div>
    <div class="pieceLink pieceLink-poetry" id="p12">
      The Alientated Voice from Within
    </div>
    <div class="pieceLink pieceLink-poetry" id="p13">The Cage</div>
    <div class="pieceLink pieceLink-poetry" id="p14">
      The Day that Came and Went
    </div>
    <div class="pieceLink pieceLink-poetry" id="p15">The Melancholic Man</div>
    <div class="pieceLink pieceLink-poetry" id="p16">The Problem</div>
    <div class="pieceLink pieceLink-poetry" id="p17">The Swell</div>
    <div class="pieceLink pieceLink-poetry" id="p18">To Dedicate</div>
    <div class="pieceLink pieceLink-poetry" id="p19">Traps in My Mind</div>
    <div class="pieceLink pieceLink-poetry" id="p20">What About Me?</div>
    <div class="pieceLink pieceLink-poetry" id="p21">Whisking Away</div>
    <div class="pieceLink pieceLink-poetry" id="p22">
      Who Turned Out the Lights
    </div>
    <div class="pieceLink pieceLink-poetry" id="p23">The Wheel Is Turning</div>
  </div>
  <div class="toc-pieceDisplay" id="poemTextAndTitle"></div>
</div>
