<!-- MODALS -->
<!-- FINDING ZEN -->
<div class="modal" id="findingZen">
  <h5 class="modal-header">Finding Zen</h5>
  <div class="modal-imgContainer">
    <img
      class="modal-img"
      src="../../../img/theGreenerSide/findingZen.jpg"
      alt=""
    />
  </div>
  <div class="modal-textContainer">
    <!-- LOOP NJK-->
    {% for greenerText in findingZen %}
    <p class="modal-text">{{greenerText.paragraph}}</p>
    {% endfor %}
  </div>
  <span class="modal-close">
    <div class="line-1"></div>
    <div class="line-2"></div>
  </span>
</div>

<!-- INTO THE GRAY -->
<div class="modal" id="intoTheGray">
  <h5 class="modal-header">Into the Gray</h5>
  <div class="modal-imgContainer">
    <img
      class="modal-img"
      src="../../../img/theGreenerSide/intoTheGray.jpg"
      alt=""
    />
  </div>
  <div class="modal-textContainer">
    <!-- LOOP NJK-->
    {% for greenerText in intoTheGray %}
    <p class="modal-text">{{greenerText.paragraph}}</p>
    {% endfor %}
  </div>
  <span class="modal-close">
    <div class="line-1"></div>
    <div class="line-2"></div>
  </span>
</div>

<!-- The Greener Side PT 1 -->
<div class="modal" id="partOne">
  <h5 class="modal-header">The Greener Side - Part One</h5>
  <div class="modal-textContainer">
    <!-- LOOP NJK-->
    {% for greenerText in partOne %}
    <p class="modal-text">{{greenerText.paragraph}}</p>
    {% endfor %}
  </div>
  <span class="modal-close">
    <div class="line-1"></div>
    <div class="line-2"></div>
  </span>
</div>

<!-- The Greener Side PT 2 -->
<div class="modal" id="partTwo">
  <h5 class="modal-header">The Greener Side - Part Two</h5>
  <div class="modal-textContainer">
    <!-- LOOP NJK-->
    {% for greenerText in partTwo %}
    <p class="modal-text">{{greenerText.paragraph}}</p>
    {% endfor %}
  </div>
  <span class="modal-close">
    <div class="line-1"></div>
    <div class="line-2"></div>
  </span>
</div>
<!-- The Greener Side PT 3 -->
<div class="modal" id="partThree">
  <h5 class="modal-header">The Greener Side - Part Three</h5>
  <div class="modal-textContainer">
    <!-- LOOP NJK-->
    {% for greenerText in partThree %}
    <p class="modal-text">{{greenerText.paragraph}}</p>
    {% endfor %}
  </div>
  <span class="modal-close">
    <div class="line-1"></div>
    <div class="line-2"></div>
  </span>
</div>
<!-- The Greener Side PT 4 -->
<div class="modal" id="partFour">
  <h5 class="modal-header">The Greener Side - Part Four</h5>
  <div class="modal-textContainer">
    <!-- LOOP NJK-->
    {% for greenerText in partFour %}
    <p class="modal-text">{{greenerText.paragraph}}</p>
    {% endfor %}
  </div>
  <span class="modal-close">
    <div class="line-1"></div>
    <div class="line-2"></div>
  </span>
</div>
<!-- The Greener Side PT 5 -->
<div class="modal" id="partFive">
  <h5 class="modal-header">The Greener Side - Part Five</h5>
  <div class="modal-textContainer">
    <!-- LOOP NJK-->
    {% for greenerText in partFive %}
    <p class="modal-text">{{greenerText.paragraph}}</p>
    {% endfor %}
  </div>
  <span class="modal-close">
    <div class="line-1"></div>
    <div class="line-2"></div>
  </span>
</div>

<!-- END DAYS -->
<div class="modal" id="endDays">
  <h5 class="modal-header">End Days</h5>
  <div class="modal-imgContainer">
    <img
      class="modal-img"
      src="../../../img/theGreenerSide/endDays.jpg"
      alt=""
    />
  </div>
  <div class="modal-textContainer">
    <!-- LOOP NJK-->
    {% for greenerText in endDays %}
    <p class="modal-text">{{greenerText.paragraph}}</p>
    {% endfor %}
  </div>
  <span class="modal-close">
    <div class="line-1"></div>
    <div class="line-2"></div>
  </span>
</div>

<!-- MOMENTS IN-BETWEEN -->
<div class="modal" id="momentsInBetween">
  <h5 class="modal-header">Moments In-between</h5>
  <div class="modal-imgContainer">
    <img
      class="modal-img"
      src="../../../img/theGreenerSide/momentsInBetween.jpg"
      alt=""
    />
  </div>
  <div class="modal-textContainer">
    <!-- LOOP NJK-->
    {% for greenerText in momentsInBetween %}
    <p class="modal-text">{{greenerText.paragraph}}</p>
    {% endfor %}
  </div>
  <span class="modal-close">
    <div class="line-1"></div>
    <div class="line-2"></div>
  </span>
</div>

<!-- MY EXISTENTIAL ROMANCE -->
<div class="modal" id="myExistentialRomance">
  <h5 class="modal-header">My Existential Romance</h5>
  <div class="modal-imgContainer">
    <img
      class="modal-img"
      src="../../../img/theGreenerSide/myExistentialRomance.jpg"
      alt=""
    />
  </div>
  <div class="modal-textContainer">
    <!-- LOOP NJK-->
    {% for greenerText in myExistentialRomance %}
    <p class="modal-text">{{greenerText.paragraph}}</p>
    {% endfor %}
  </div>
  <span class="modal-close">
    <div class="line-1"></div>
    <div class="line-2"></div>
  </span>
</div>

<!-- THE OUTSIDE WITNESS -->
<div class="modal" id="theOutsideWitness">
  <h5 class="modal-header">The Outside Witness</h5>
  <div class="modal-imgContainer">
    <img
      class="modal-img"
      src="../../../img/theGreenerSide/theOutsideWitness.jpg"
      alt=""
    />
  </div>
  <div class="modal-textContainer">
    <!-- LOOP NJK-->
    {% for greenerText in theOutsideWitness %}
    <p class="modal-text">{{greenerText.paragraph}}</p>
    {% endfor %}
  </div>
  <span class="modal-close">
    <div class="line-1"></div>
    <div class="line-2"></div>
  </span>
</div>

<!-- THE REASONS I CAN'T FIND -->
<div class="modal" id="theReasonsICantFind">
  <h5 class="modal-header">The Reasons I Can't Find</h5>
  <div class="modal-imgContainer">
    <img
      class="modal-img"
      src="../../../img/theGreenerSide/theReasonsICantFind.jpg"
      alt=""
    />
  </div>
  <div class="modal-textContainer">
    <!-- LOOP NJK-->
    {% for greenerText in theReasonsICantFind %}
    <p class="modal-text">{{greenerText.paragraph}}</p>
    {% endfor %}
  </div>
  <span class="modal-close">
    <div class="line-1"></div>
    <div class="line-2"></div>
  </span>
</div>

<!-- THE FEELING OF A SOFT MIND -->
<div class="modal" id="theFeelingOfASoftMind">
  <h5 class="modal-header">The Feeling of a Soft Mind</h5>
  <div class="modal-imgContainer">
    <img
      class="modal-img"
      src="../../../img/theGreenerSide/theFeelingOfASoftMind.jpg"
      alt=""
    />
  </div>
  <div class="modal-textContainer">
    <!-- LOOP NJK-->
    {% for greenerText in theFeelingOfASoftMind %}
    <p class="modal-text">{{greenerText.paragraph}}</p>
    {% endfor %}
  </div>
  <span class="modal-close">
    <div class="line-1"></div>
    <div class="line-2"></div>
  </span>
</div>

<!-- THE DAY I DIED AGAIN -->
<div class="modal" id="theDayIDiedAgain">
  <h5 class="modal-header">The Day I Died Again</h5>
  <div class="modal-imgContainer">
    <img
      class="modal-img"
      src="../../../img/theGreenerSide/theDayIDiedAgain.jpg"
      alt=""
    />
  </div>
  <div class="modal-textContainer">
    <!-- LOOP NJK-->
    {% for greenerText in theDayIDiedAgain %}
    <p class="modal-text">{{greenerText.paragraph}}</p>
    {% endfor %}
  </div>
  <span class="modal-close">
    <div class="line-1"></div>
    <div class="line-2"></div>
  </span>
</div>

<!-- AND, TODAY -->
<div class="modal" id="andToday">
  <h5 class="modal-header">And, Today</h5>
  <div class="modal-imgContainer">
    <img
      class="modal-img"
      src="../../../img/theGreenerSide/andToday.jpg"
      alt=""
    />
  </div>
  <div class="modal-textContainer">
    <!-- LOOP NJK-->
    {% for greenerText in andToday %}
    <p class="modal-text">{{greenerText.paragraph}}</p>
    {% endfor %}
  </div>
  <span class="modal-close">
    <div class="line-1"></div>
    <div class="line-2"></div>
  </span>
</div>

<!-- THE MIDWESTERN ROOT -->
<div class="modal" id="theMidwesternRoot">
  <h5 class="modal-header">The Midwestern Root</h5>
  <div class="modal-imgContainer">
    <img
      class="modal-img"
      src="../../../img/theGreenerSide/theMidwesternRoot.jpg"
      alt=""
    />
  </div>
  <div class="modal-textContainer">
    <!-- LOOP NJK-->
    {% for greenerText in theMidwesternRoot %}
    <p class="modal-text">{{greenerText.paragraph}}</p>
    {% endfor %}
  </div>
  <span class="modal-close">
    <div class="line-1"></div>
    <div class="line-2"></div>
  </span>
</div>
