<!--! Aphorisms -->
<div class="toc-pieceLinks--aphorisms" id="toc-aphorismsDisplay">
  <div class="toc-miniContainer">
    <div class="miniContainer-header">Aphorism List</div>
    <div class="pieceLink pieceLink-aphorism" id="a1">A Drop In the Ocean</div>
    <div class="pieceLink pieceLink-aphorism" id="a2">Age Old Wisdom</div>
    <div class="pieceLink pieceLink-aphorism" id="a3">Charity Work</div>
    <div class="pieceLink pieceLink-aphorism" id="a4">CREATE</div>
    <div class="pieceLink pieceLink-aphorism" id="a5">City - Part 1</div>
    <div class="pieceLink pieceLink-aphorism" id="a6">City - Part 2</div>
    <div class="pieceLink pieceLink-aphorism" id="a7">Epilogue</div>
    <div class="pieceLink pieceLink-aphorism" id="a8">Existential Dread</div>
    <div class="pieceLink pieceLink-aphorism" id="a9">Heidegger's Dashes</div>
    <div class="pieceLink pieceLink-aphorism" id="a10">I am a Fraud</div>
    <div class="pieceLink pieceLink-aphorism" id="a11">Impact</div>
    <div class="pieceLink pieceLink-aphorism" id="a12">Lost in My Head</div>
    <div class="pieceLink pieceLink-aphorism" id="a13">
      Maxa Millennial Creating
    </div>
    <div class="pieceLink pieceLink-aphorism" id="a14">
      Maxa the Overcreator
    </div>
    <div class="pieceLink pieceLink-aphorism" id="a15">MaxaMillennial.org</div>
    <div class="pieceLink pieceLink-aphorism" id="a16">Moments of Validity</div>
    <div class="pieceLink pieceLink-aphorism" id="a17">My-being Mask</div>
    <div class="pieceLink pieceLink-aphorism" id="a18">
      Pillars of Consciousness
    </div>
    <div class="pieceLink pieceLink-aphorism" id="a19">Real-world Friends</div>
    <div class="pieceLink pieceLink-aphorism" id="a20">
      Surveying My Soulscape
    </div>
    <div class="pieceLink pieceLink-aphorism" id="a21">The Absurd</div>
    <div class="pieceLink pieceLink-aphorism" id="a22">The After-life</div>
    <div class="pieceLink pieceLink-aphorism" id="a23">
      The Backhanded Jaywalk
    </div>
    <div class="pieceLink pieceLink-aphorism" id="a24">
      You Look So Different
    </div>
  </div>
  <div class="toc-pieceDisplay" id="aphorismTextAndTitle"></div>
</div>
