<!--! FICTION -->
<div class="toc-pieceLinks--fiction pointerEvents-none" id="toc-fictionDisplay">
  <a href="#" class="pieceLink pieceLink-fiction" id="f1">
    Mirror In the Mirror
  </a>
  <a href="#" class="pieceLink pieceLink-fiction" id="f2">A Chair to Nowhere</a>
  <a href="#" class="pieceLink pieceLink-fiction" id="f3">
    A Bishop's Watchdog
  </a>
  <a href="#" class="pieceLink pieceLink-fiction" id="f4">
    The Doctor's Apprentice
  </a>
  <a href="#" class="pieceLink pieceLink-fiction" id="f5">
    Politicians of the Future
  </a>
</div>
