<!--! CHAPTERS -->
<div
  class="toc-pieceLinks--chapters pointerEvents-none"
  id="toc-chaptersDisplay"
>
  <a
    href="/mm/chapters/prologue.html"
    class="pieceLink pieceLink-chapter"
    id="c0"
  >
    Prologue: A Meeting
  </a>
  <div class="pieceLink-afterLine" id="c0-line">
    <div class="pieceLink-afterLine--movingBlock"></div>
  </div>
  <a
    href="/mm/chapters/chapter1.html"
    class="pieceLink pieceLink-chapter"
    id="c1"
  >
    Chapter 1: A Terminal Diagnosis
  </a>
  <div class="pieceLink-afterLine" id="c1-line">
    <div class="pieceLink-afterLine--movingBlock"></div>
  </div>
  <a
    href="/mm/chapters/chapter2.html"
    class="pieceLink pieceLink-chapter"
    id="c2"
  >
    Chapter 2: Surviving the First Death
  </a>
  <div class="pieceLink-afterLine" id="c2-line">
    <div class="pieceLink-afterLine--movingBlock"></div>
  </div>
  <a
    href="/mm/chapters/chapter3.html"
    class="pieceLink pieceLink-chapter"
    id="c3"
  >
    Chapter 3: Ego Death
  </a>
  <div class="pieceLink-afterLine" id="c3-line">
    <div class="pieceLink-afterLine--movingBlock"></div>
  </div>
  <a
    href="/mm/chapters/chapter4.html"
    class="pieceLink pieceLink-chapter"
    id="c4"
  >
    Chapter 4: The Fight to Undermine
  </a>
  <div class="pieceLink-afterLine" id="c4-line">
    <div class="pieceLink-afterLine--movingBlock"></div>
  </div>
  <a
    href="/mm/chapters/chapter5.html"
    class="pieceLink pieceLink-chapter"
    id="c5"
  >
    Chapter 5: My Brothers and Sisters
  </a>
  <div class="pieceLink-afterLine" id="c5-line">
    <div class="pieceLink-afterLine--movingBlock"></div>
  </div>

  <a
    href="/mm/chapters/chapter6.html"
    class="pieceLink pieceLink-chapter"
    id="c6"
  >
    Chapter 6: A Journal Entry from the Last Man on Earth
  </a>
</div>
