<!--! FICTION -->
<div class="toc-pieceLinks--fiction pointerEvents-none" id="toc-fictionDisplay">
  <a
    href="/mm/fiction/mirrorInTheMirror.html"
    class="pieceLink pieceLink-fiction"
    id="f1"
  >
    Mirror In the Mirror
  </a>
  <a
    href="/mm/fiction/aChairToNowhere.html"
    class="pieceLink pieceLink-fiction"
    id="f2"
  >
    A Chair to Nowhere
  </a>
  <a
    href="/mm/fiction/aBishopsWatchdog.html"
    class="pieceLink pieceLink-fiction"
    id="f3"
  >
    A Bishop's Watchdog
  </a>
  <a
    href="/mm/fiction/theDoctorsApprentice.html"
    class="pieceLink pieceLink-fiction"
    id="f4"
  >
    The Doctor's Apprentice
  </a>
  <a
    href="/mm/fiction/politiciansOfTheFuture.html"
    class="pieceLink pieceLink-fiction"
    id="f5"
  >
    Politicians of the Future
  </a>
</div>
