<!-- ====== Nonfiction Container ====== -->
<div class="toc-pieceLinks--LF pointerEvents-none" id="toc-LFDisplay">
  <div class="toc-set1--LF">
    <h3 class="header-LF">The Essays</h3>
    <!-- Nonfiction Link -->
    <a
      href="/mm/nonfiction/anEssayConcerningYou.html"
      class="pieceLink pieceLink-LF"
      id="lf1"
    >
      An Essay Concerning You
    </a>
    <!-- Nonfiction Link -->
    <a
      href="/mm/nonfiction/aTheoryOfAcknowledgement.html"
      class="pieceLink pieceLink-LF"
      id="lf2"
    >
      A Theory of Acknowledgement
    </a>
    <!-- Nonfiction Link -->
    <a
      href="/mm/nonfiction/assumptiveCritiques.html"
      class="pieceLink pieceLink-LF"
      id="lf4"
    >
      Assumptive Critiques
    </a>
  </div>
  <div class="toc-set2--LF">
    <h3 class="header-LF">The Witness</h3>
    <!-- Nonfiction Link -->
    <a
      href="/mm/nonfiction/anAddictMeetsRachelBloom.html"
      class="pieceLink pieceLink-LF"
      id="lf7"
    >
      An Addict Meets Rachel Bloom
    </a>
    <!-- Nonfiction Link -->
    <a
      href="/mm/nonfiction/anAddictsDesperation.html"
      class="pieceLink pieceLink-LF"
      id="lf7"
    >
      An Addicts Desperation
    </a>
    <!-- Nonfiction Link -->
    <a
      href="/mm/nonfiction/theTimeIMetRachelBloom.html"
      class="pieceLink pieceLink-LF"
      id="lf7"
    >
      The Time I Met Rachel Bloom
    </a>
    <!-- Nonfiction Link -->
    <a
      href="/mm/nonfiction/aStrangersStranger.html"
      class="pieceLink pieceLink-LF"
      id="lf6"
    >
      A Stranger's Stranger
    </a>
    <!-- Nonfiction Link -->
    <a
      href="/mm/nonfiction/kingsSoConquered.html"
      class="pieceLink pieceLink-LF"
      id="lf7"
    >
      Kings So Conquered
    </a>
    <!-- Nonfiction Link -->
    <a
      href="/mm/nonfiction/theSonderer.html"
      class="pieceLink pieceLink-LF"
      id="lf8"
    >
      The Sonderer
    </a>
    <!-- Nonfiction Link -->
    <a
      href="/mm/nonfiction/severed.html"
      class="pieceLink pieceLink-LF"
      id="lf10"
    >
      Severed
    </a>
  </div>
</div>
