<div class="modal-container showModal" id="modal-opened">
  <div class="modal-landing showModal">
    <div class="modal__details">
      <h1 class="modal__title">Welcome</h1>
      <p class="modal__description">
        Below are some details about this project that will help you navigate
        this website.
      </p>
    </div>

    <p class="modal__text">
      Maxamillennial.org is a collection of writing and photography. It's a
      story that uses the individual to ask questions about the self. Questions
      like, 'Who are we?' or 'Who are you?'
    </p>

    <p class="modal__text">
      Ultimately, the intention of this work isn't to provide answers. Instead,
      it's to show that these questions reflect on each of us differently, and
      it's to explore the questions themselves with a hope, almost a need, to
      find something deeper.
    </p>

    <a href="#modal-closed" class="link-2"></a>
  </div>
</div>
