<!------- STORY CONTENT ------->
<section class="chapter">
  <div class="chapter-landing chapter-landing--c1">
    <div class="title title-landing title-landing--c1">
      <h1 class="title-chapterNumber">Chapter 1:</h1>
      <h1 class="title-chapterTitle title-chapterTitle--c1">
        A Terminal Diagnosis
      </h1>
      <span class="title-authorName">By Maxa Millennial</span>
      <button class="title-btn">Read Now</button>
    </div>
  </div>
  <div class="chapter-content">
    <div id="scrollAdhoc"></div>
    <div class="title title-content">
      <h2 class="title-chapterTitle text-align-center">A Terminal Diagnosis</h2>
      <span class="title-authorName">By Maxa Millennial</span>
    </div>
    <div class="chapter-text">
      <!-- LOOP NJK-->
      {% for chapterText in aTerminalDiagnosis %}
      <p class="text">{{chapterText.paragraph}}</p>
      {% endfor %}
    </div>
  </div>
  <div class="chapter-footer chapter-footer--standard">
    <a href="chapterPrologue.html" class="footer-link">
      &larr; Previous Chapter
    </a>
    <a href="chapter2.html" class="footer-link">Next Chapter &rarr;</a>
  </div>
</section>
