<!------- STORY CONTENT ------->
<section class="fiction">
  <div class="fiction-content">
    <div id="scrollAdhoc"></div>
    <div class="title title-content">
      <h2 class="title-fictionTitle">The Doctor's Apprentice</h2>
      <span class="title-authorName">By Robert Klasen</span>
    </div>
    <div class="fiction-text">
      <!-- LOOP NJK-->
      {% for fictionText in theDoctorsApprentice %}
      <p class="text">{{fictionText.paragraph}}</p>
      {% endfor %}
    </div>
  </div>
</section>
